div.card {
    width: 30em;
    margin: auto;
    margin-bottom: 1rem;
}

div.card-header {
    text-align: left;
    font-weight: bold;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 0.5rem 1rem;
    background-color: rgb(245, 245, 245);
}

div.card-body {
    text-align: left;
    display: flex;
    border: 1px solid grey;
}

div.card-avatar {
    padding: 0.75rem;
    border-right: 1px solid grey;
}

div.card-avatar > img.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

div.card-content {
    width: 100%;
    padding: 0.75rem;
}